[workspace]
members = [
    "program",
    "script",
]
resolver = "2"

[profile.release]
lto = "fat"
panic = "abort"
codegen-units = 1

[profile.host]
inherits = "release"
lto = "thin"
panic = "abort"
codegen-units = 16
